.image-container {
	position: relative;
}
.image-text{
	position: absolute;
	text-align: center;
	top: 1%;
	color: white;
}
nav{
	color: darkblue;
}

.navbar-light .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
	background-color: lightgrey;
	color: white;
}


body{
	background: '1stStreet.jpg';
}