{% extends "base.html" %}
{% block app_content %}
<div class="col-md-8">
	<row>
		<img src="{{ url_for('static', filename='selfie.jpg') }}" width="100%">
	</row>
</div>
<div class="col-md-4" style="font-size: 24px">
	<row >
		<p>
			As a lifelong westerner, I naturally enjoy hiking, skiing, cycling, hunting, and other outdoor activities.
		</p><br>
		<p >When I'm not working or outside, you can generally find me with my wife, Kayme, and our dogs, Annie and Jackie.</p>
	</row>
</div>
{% endblock %}