{% extends "base.html" %}
{% block app_content %}
<div class="col-md-6">
	<row>
		<img src="{{ url_for('static', filename='bp_front_door.jpg') }}" width="100%">
</div>
<div class="col-md-6">
	<row>
		<h2>Phone: 509-675-0489</h2>
		<h2>Email: <a href="mailto:bcparker21@gmail.com">bcparker21@gmail.com</a></h2>
		<a href="https://www.facebook.com/brian.parker.7927/" target="_blank">
			<i class="fa fa-facebook-official" style="color: black; margin: 20px; font-size: 60px;"></i>
		</a>
		<a href="https://www.instagram.com/bcparker21/" target="_blank">
			<i class="fa fa-instagram" style="color: black; margin: 20px; font-size: 60px"></i>
		</a><br>
		<a href="https://www.linkedin.com/in/brian-parker-59b45118/" target="_blank">
			<i class="fa fa-linkedin-square " style="color: black; margin: 20px; font-size: 60px"></i>
		</a>
		<a href="https://github.com/bcparker21" target="_blank">
			<i class="fa fa-github" style="color: black; margin: 20px; font-size: 60px"></i>
		</a>
	</row>
</div>
{% endblock %}