{% extends "base.html" %}
{% block app_content %}
<div class="col-md-2"></div>
<div class="col-md-8">
{{ user.coverletter | safe}}

<a href="{{ url_for('main.export_resume') }}" class="btn btn-primary" role="button" id="printPageButton">Export Resume</a>
<button class="btn btn-primary" onclick="window.print()" id="printPageButton">Print Cover Letter</button>
<a href="{{ url_for('main.contact') }}" class="btn btn-primary" role="button" id="printPageButton">Contact Brian</a>
<p> </p></div>
<div class="col-md-2"></div>
{% endblock %}