{% extends "base.html" %}
{% block app_content %}
	<div class="image-container">
		<img src="{{ url_for('static', filename='1stStreet.jpg') }}" class="img-fluid" width="100%">
		<div class="image-text">
			{% if current_user.is_anonymous %}
				<h1>{{ _("Welcome") }}</h1>
			{% else %}
				<h1>{{ _('Hello, %(agency)s!', agency=current_user.agency) }}</h1>
			{% endif %}
			<h2>{{ _("Let's build better communities together") }}</h2>
			<a href="{{ url_for('main.contact') }}" class="btn btn-primary btn-lg" role="button";>Contact Brian</a>
			<p> </p><br>
		</div>
	</div>
{% endblock %}
