{% extends "base.html" %}
{% block app_content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% for j in jobs %}
				<h2><a href="{{ j.url }}" target="_blank">{{ j.name }}</a></h2>
				<h4>{{ j.title }}<br>
				{{ j.location }}<br>
				{{ moment(j.start_date).format('MMMM Y') }} to {{ moment(j.end_date).format('MMMM Y') }}<br></h4>
				<p><a href="{{ url_for('main.job',title=j.title) }}">Learn More</a></p>
			{% endfor %}
		</div>
		<div class="col-md-8" position: -webkit-sticky; position: sticky;>
			{{ map }}
			<p> </p><br>
			<a href="{{ url_for('main.export_resume') }}" class="btn btn-primary" role="button">Export Resume</a>
		</div>
	</div>
</div>
{% endblock %}